@media (max-width: 35em) {

html {
    animation: text-larger .5s linear forwards;
}

main {
    align-items: flex-start!important;
    justify-content: flex-start!important;

}

.main-container {
    padding: 5rem 2rem 0 2rem;
}

/* About page */

.main-about {
    align-content: start!important;
    justify-items: start!important;

}

}